.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
.idea/libraries/Gradle__androidx_core_core_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0_jar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_test_core_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_2_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_2_0_aar.xml
.idea/libraries/Gradle__androidx_test_ext_junit_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_test_runner_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
Puzzle.iml
